.input-group-addon.loading {
	color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.input-group-addon.no-result {
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}