<div class="input-group input-group-lg">
	<input type="input" class="form-control" #searchBox 
		[(ngModel)]="searchInput" 
		[typeahead]="cities"
		[typeaheadItemTemplate]="cityTemplate"
		(typeaheadLoading)="changeLoading($event)"
        (typeaheadNoResults)="changeNoResults($event)"
		(typeaheadOnSelect)="searchByCity($event)" 
		typeaheadOptionField="description"
		typeaheadWaitMs="300"
		typeaheadAsync=true 
		placeholder="Search for a city..." 
	/>
	<div class="input-group-addon" [ngClass]="{'loading': isLoading, 'no-result': (hasNoResults && !isLoading)}">
		<i *ngIf="!isLoading && !hasNoResults" class="glyphicon glyphicon-ok"></i>
		<i *ngIf="isLoading" class="glyphicon glyphicon-refresh"></i>
		<i *ngIf="hasNoResults && !isLoading" class="glyphicon glyphicon-remove"></i>
	</div>
</div>

<ng-template #cityTemplate let-city="item">
	<h5>{{city.description}}</h5>
</ng-template>